body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 -15px;
}

header {
	height: 967px;
	background-image: url(../images/header/fon.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

header div.menu {
	height: 84px;
	background: rgba(0, 0, 0, 0.4);
}

header div.menu a img {
	display: block;
	padding-top: 50px;
	padding-left: 100px;
}

header nav ul {
	list-style-type: none;  /*убираем кружочки возле меню*/
	padding-right: 50px;
	margin: 0;
}

header nav ul li {
	display: inline-block; /*c горизонтали в вертикаль поворачиваем*/
	margin-right: 50px;

}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;

}

header nav ul li a:hover {
	text-decoration: underline;
	color: #39b9ef;
}

header div.call-to h1 {
	margin-top: 250px;
	margin-bottom: 0px;
	text-align: center;
	color: #fff;
	font-size: 72px;
	font-weight: bold;
}

header div.call-to h1 span {  /*первое слово выделяем*/
	color: #2ebaee;
}

header div.call-to p {
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-top: 20px;

}

header div.call-to a {      /*кнопка в секции хедер*/
	display: block;
	width: 215px;
	height: 50px;
	color: #fff;
	background: #2ebaee;
	text-align: center;
	margin: 0 auto;
	border-radius: 24px;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

/****************************************************Our services************************************************************/

.back-services {
	background-image: url(../images/section/fon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom: 140px;
}

section.our-services h2 {
	color: #242424;
	font-size: 48px; 
	text-align: center;
	margin-top: 70px;
	border-bottom: 1px solid #e7e7e7;               /*полоска под текстом*/
	padding-bottom: 80px;
}

section.our-services div.services div {
	padding-top: 80px;
}

div.services div img {
	display: block;
	margin-bottom: 50px;
}

div.services div h3 {
	color: #242424;
	font-size: 24px;
	margin-bottom: 34px; 
}

div.services div p {
	color: #878787;
	line-height: 24px;
	font-size: 14px;
	padding-right: 10px;
}

section.our-services a.buttom {   /*Кнопка 1*/
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin: 65px auto;
}

section.our-services a.buttom:hover, header div.call-to a:hover, section.our-services a.buttom-2:hover {   /*ховер для кнопки 1 2 и хедер*/
	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}

div.services-2 {
	margin-top: 180px;
}

div.services-2 div h3 {   /* вторая секция в теле*/
	color: #242424;
	font-size: 36px;
	margin-bottom: 55px;
	margin-top: 100px;
}

div.services-2 div p{
	color: #878787;
	line-height: 30px;
	font-size: 14px;
	max-width: 520px;
}

section.our-services a.buttom-2 {   /*Кнопка 2*/
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin-top: 50px;
}

div.services-3 {        /* третья часть секции*/
	margin-top: 240px;
}

div.services-3 div.serv-2 { 
	padding-left: 150px;
}


div.services-3 div h3 {
	color: #fff;
	font-size: 36px;
}

div.services-3 div p {
	color: #fff;
	font-size: 14px;	
}

div.services-3 a.buttom-3 {
	display: block;
	text-align: center;
	text-decoration: none;
	background:#fff;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #2ebaee;
	line-height: 44px;
	margin-top: 50px;
}

div.services-3 a.buttom-3:hover {
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin-top: 50px;
	border: 1px solid #fff;
}

/******************************************************section man**********************************************/

section.man {
	max-height: 660px;
}

section.man div img {
	max-width: 100%;
}

section.man div h3 {
	font-size: 72px;
	color: #000;
	max-width: 600px;
	margin-left: 75px;
}

section.man div p{
	color: #878787;
	font-size: 16px;
	max-width: 600px;
	margin-left: 75px;
}

section.man div a {
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin-left: 75px;
}

section.man div a:hover {
	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}

/****************section next-man***********************************/

section.next-man {
	height: 430px;
}

section.next-man div.block-1 {
	background-image: url(../images/section/block1.png);
	min-height: 430px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

section.next-man div.block-2 {
	background-image: url(../images/section/block2.png);
	min-height: 430px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.next-man div.block-3 {
	background-image: url(../images/section/block3.png);
	min-height: 430px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.next-man div.block-4 {
	background-image: url(../images/section/block4.png);
	min-height: 430px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

section.next-man h4 {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
}

section.next-man h4:hover {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	background: rgba(57, 157, 195, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
}

/***********************Check our********************************/

section.check-our {
	height: 850px;
}

section.check-our h2 {
	color: #2ebaee;
	font-size: 72px;
}

section.check-our h2 span {
	color: #000;
}

section.check-our img {
	display: block;
	margin: 0 auto;
	width: 234px;
	height: 234px;
	margin-top: 32px;
}

section.check-our div.name{
	color: #242424;
	font-size: 34px;
	text-align: center;
	margin-top: 30px;
}

section.check-our div.awesome span{
	display: block;
	text-align: center;
	font-size: 14px;
	color: #878787;

}

section.check-our div.awesome a {
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin: 30px auto;
}

section.check-our div.awesome a:hover {
	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}

/****************************section footer************************/

section.footer {
	background-image: url(../images/section/footer.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 724px;
}

section.footer div.contact {
	color: #fff;
	font-size: 72px;
	font-weight: bold;
	margin-top: 115px;
}
section.footer p.adress {
	font-size: 18px;
	color: #8787;
	margin-top: 30px;
}
section.footer p {
	color: #878787;
	font-size: 32px;
	margin: 24px 0 0 0;

}

section.footer p.span {
	color: #2ebaee;
}

section.footer ul {
	list-style-type: none;
	margin-top: 70px;
	padding: 0;
}

section.footer ul li {
	display: inline-block;
	width: 54px;
	height: 54px;
	border-radius: 27px;
	margin-right: 45px;
}

section.footer ul li.facebook {
	background: #fff;
	padding: 13px 13px;
}

section.footer ul li.twitter {
	background: #fff;
	padding: 13px 13px;
}

section.footer ul li.pinterest {
	background: #fff;
	padding: 13px 13px;
}

section.footer ul li:hover {
	background: rgba(130, 130, 130, 0.6);
}

section.footer input[type="text"],section.footer input[type="email"] {
	width: 635px;
	height: 60px;
	background: none;
	border-radius: 6px;
	border: 1px solid #535353;
	color: #fff;
	font-size: 17px;
	display: block;
	margin-left: 30px;
	margin: 20px auto;
}

section.footer input[type="text"] {
	margin-top: 146px;
}

section.footer textarea {
	width: 635px;
	height: 200px;
	background: none;
	border-radius: 6px;
	border: 1px solid #535353;
	color: #fff;
	font-size: 17px;
	display: block;
	padding: 30px;
	margin: 20px auto;
	resize: none;   /*нельзя растягивать окно*/
}

section.footer button {
	display: block;
	text-align: center;
	text-decoration: none;
	background:#2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin: 30px auto;
	border: none;
}

section.footer button:hover {
	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}

footer {
	height: 135px;
	background: #000;
}

footer p, footer ul {
	list-style-type: none;
	color: #fff;
	margin-top: 56px;
	padding: 0;
}

footer ul li {
	display: inline-block;
	margin-right: 20px;
}

footer ul li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

footer ul li a:hover {
	text-decoration: underline;
} 

.img-adaptive {
	display: block;
	max-width: 100%;
	height: auto;
}


/************************адаптив*******************************/

@media (max-width: 575.98px) { ... }


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) {
	
		section.man div h3 {
			font-size: 36px;
			text-align: center;
		} 

		div.services-3 div h3 {
			font-size: 18px;
		}
		div.services-3 div p {
			font-size: 12px;
		}
		section.next-man h4 {
		font-size: 36px;
		}

	section.next-man h4:hover {
		font-size: 36px;
		}

		section.next-man {
			height: auto;
		}

		section.check-our h2 {
			font-size: 42px;
			text-align: center;
		}

		section.footer input[type="text"],section.footer input[type="email"], section.footer textarea {
		width: 400px;
	}
	section.footer div.contact {
		font-size: 42px;
	}

	section.footer p {
		font-size: 16px;
	}
	section.check-our img {
	display: block;
	margin: 0 auto;
	width: 234px;
	height: 234px;
	margin-top: 32px;
}
	section.check-our {
		height: 1050px;
	}


	footer p {
		font-size: 14px;
	}

}


@media (min-width: 992px) and (max-width: 1199.98px) {
		div.services div p {
		padding-right: 10px;
		}
		section.man div h3 {
			font-size: 36px;
			text-align: center;
		} 

		section.our-services a.buttom-2 {
			border: 1px solid #fff;
		}
		section.next-man h4 {
		font-size: 36px;
		}

	section.next-man h4:hover {
		font-size: 36px;
		}

		section.check-our {
			height: auto;

		}
		section.footer input[type="text"],section.footer input[type="email"], section.footer textarea {
		width: 400px;
	}
	section.footer div.contact {
		font-size: 48px;
	}

	section.footer p {
		font-size: 16px;
	}

	 }


@media (min-width: 1200px) and (max-width: 1409.98px) { 
	header div.call-to h1 {
		width: 90%;
		margin: 250px auto;
	}
	div.services div p {
		padding-right: 10px;
	}
	section.next-man h4 {
		font-size: 36px;
	}

	section.next-man h4:hover {
		font-size: 36px;
	}

	section.check-our h2 {
		text-align: center;
	}

	section.footer input[type="text"],section.footer input[type="email"], section.footer textarea {
		width: 400px;
	}

	footer p {
		text-align: right;
	}
}
 